<div id="leftside">
    <h2>file info</h2>
</div>

{{#if id}}
<div id="rightside">
    <h1>id: </h1>{{id}}
    <h1>name: </h1>{{name}}
    <h1>path: </h1>{{path}}
    <h1>size: </h1>{{size}}
    <h1>type: </h1>{{type}}
    <h1>savedate: </h1>{{saveDate}}
</div>
{{/if}}